<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CinemaMyanmar</title>

  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- css slick -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- js slick -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/home.css">





</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
      <div class="logo" style="margin-top: -80px; margin-bottom:-77px;">
      <a href="/"><img src="/img/logoBG.png" alt=""></a>

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown d-block d-sm-block d-md-block d-lg-none" style="width: 55%;">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <div class="row">
             <div class="col-6">
               <a class="dropdown-item" href="/Bollywood" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Bollywood</a>
               <a class="dropdown-item" href="/Animation" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Animation</a>
               <a class="dropdown-item" href="/Action" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Action</a>
             </div>
             <div class="col-6">
               <a class="dropdown-item" href="/Comedy" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Comedy</a>
               <a class="dropdown-item" href="/Horror" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Horror</a>
               <a class="dropdown-item" href="/Drama" style="cursor: pointer;color:blue;" onMouseOver="this.style.color='hotpink'" onMouseOut="this.style.color='blue'">Drama</a>
             </div>
           </div>
         </div>
       </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/request">Movie Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deadlink">Dead Link Report</a>
          </li>

          <li class="nav-item d-block d-sm-block d-md-block d-lg-none" style="width:50%">
            <form class="" action="/" method="get">
              <div class="input-group">
                <input type="text" id="myInput" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn btn-secondary " type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Content -->


  <div class="container my-4 ads">
    <div class="" style="background-color: #F1EDF3; padding: 20px;border-radius: 5px;">
      <p class="font-weight-bold" style="color: black;">ဤနေရာတွင်ကြော်ငြာများထည့်သွင်းနိုင်သည်</p>

      <p style="color: black;"><strong>ဆက်သွယ်ရန် 09689882829</p>
    </div>
