<%- include('partials/topNav'); %>

<!-- Begin Page Content -->
<div class="container-fluid" style="background: rgb(49,50,52);
background: linear-gradient(90deg, rgba(49,50,52,1) 1%, rgba(121,142,145,1) 50%, rgba(129,115,144,1) 100%);padding:20px;">


<div class="container pt-4" style="width: 80%;text-align:center">

  <div class="" style="width:60%;margin:auto;">
    <%- include ./partials/messages %>
  </div>

  <form action="/dashUpload" method="post" enctype="multipart/form-data" style="inline-block;color:black;font-family:Serif;font-size:1.2rem;">

        <div class="file-field mb-3 text-center">

            <label for="basic-url">Movie Poster</label><br>
            <div class="btn btn-secondary hover align-items-center" style="width:280px;">

              <input type="file" name="uploadImage" style="width:260px;overflow:hidden;">

            </div>
        </div>


    <div class="form-group">
      <label for="sel1">Categories (select one):</label>
            <select class="form-control browser-default custom-select" id="sel1" name="categorie" style="width:40%;display:block;margin:auto;">
                  <option value="Bollywood">Bollywood</option>
                  <option value="Animation">Animation</option>
                  <option value="Action">Action</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Horror">Horror</option>
                  <option value="Drama">Drama</option>
            </select>
      <label for="basic-url">Rating</label>
      <input class="form-control text-center" type="text" name="rating" value="" autocomplete="off"style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;">
      <label for="basic-url">Movie Name</label>
      <input class="form-control text-center" type="text" name="movieN" value="" autocomplete="off" style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;" >
<label for="basic-url">Release Date</label>
<input class="form-control text-center" type="text" name="release" value="" autocomplete="off" style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;" >
      <label for="basic-url">Download Link</label>
      <input class="form-control text-center" type="text" name="dLink" value="" autocomplete="off" style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;" >
      <label for="basic-url">Review</label>
      <textarea class="form-control" id="review" name="review" rows="8" cols="80" autocomplete="off" style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;" ></textarea>
    </div>

    <button class="btn btn-dark" type="submit" name="button">publish</button>

  </form>
</div>

  <br>

</div>
<!-- /.container-fluid -->


<%- include('partials/footer'); %>
