        <%- include('partials/loginHeader'); %>

        <%- include ./partials/messages %>
        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
        <p class="mb-4 text-gray-800">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
        </div>
        <form class="user" method="post" action="/reset">
          <div class="form-group">
            <input type="email" style="background: rgb(120,111,115);
background: radial-gradient(circle, rgba(120,111,115,1) 3%, rgba(148,187,233,1) 100%);color: black;" name="userEmail" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." autocomplete="off">
          </div>
          <button type="submit" name="button" class="btn btn-primary btn-user btn-block">Send Reset Password Link</button>
        </form>
        <hr>
        <div class="text-center">
          <a class="small" href="/users/login">Login!</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        </div>

        </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendorAdmin/jquery/jquery.min.js"></script>
        <script src="/vendorAdmin/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendorAdmin/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/jsAdmin/sb-admin-2.min.js"></script>

        <script src="/jsAdmin/alert.js"></script>

        </body>

        </html>
