<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CinemaMyanmar</title>

  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- css slick -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- js slick -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/home.css">





</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
      <div class="logo" style="margin-top: -80px; margin-bottom:-77px;">
      <a href="/"><img src="/img/logoBG.png" alt=""></a>

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="/">Home

            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/request">Movie Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deadlink">Dead Link Report</a>
          </li>
          <li class="nav-item d-block d-sm-block d-md-none" style="width:50%">
            <div class="input-group">
              <input type="text" id="myInput" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary " type="button">Go!</button>
              </span>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Content -->


  <div class="container my-4 ads">
    <div class="" style="background-color: #F1EDF3; padding: 20px;border-radius: 5px;">
      <p class="font-weight-bold" style="color: black;">ဤနေရာတွင်ကြော်ငြာများထည့်သွင်းနိုင်သည်</p>

      <p style="color: black;"><strong>ဆက်သွယ်ရန် 0968.......</p>
    </div>





<div class="container mt-4">
  <div class="row">




    <div class="col-md-8">


      <div class="row gallery-items container" style="background-color: #25262C;border-radius:20px;padding:25px 10px 0px 10px;margin: 0px">

        <p style="color:#47E0BA;padding-left: 20px;">ရုပ်ရှင်ဇာတ်ကားတောင်းလို့ရပါပြီ။ ဒါပေမယ့် တင်ပြီးသားဇာတ်ကားတွေ၊ တောင်းပြီးသားဇာတ်ကားတွေထပ်တလဲလဲတောင်းနေတာမျိုး မရှိရအောင် ပရိသတ်တွေဖက်က ကိုယ်တောင်းမယ့်ဇာတ်ကားကို အားလေးနည်းနည်းစိုက်ပြီး အချက်အလက်စုံစုံလေးတင်ပြီး
          တောင်းစေချင်ပါတယ်။</p>
        <p style="color:yellow;padding-left: 20px;">ရုပ်ရှင်ဇာတ်ကားတောင်းရန် သတ်မှတ်ချက်များ</p>

        <p style="color:#47E0BA;padding-left: 20px;" class="text-left">(၁) ဇာတ်ကားနာမည်အတိအကျဖြင့်တောင်းပါ။ ကိုယ်တောင်းမယ့်ဇာတ်ကားရဲ့ IMDB Link ကိုရေးပေးပါ။Facebook, Youtube စသည့် Link များမရပါ။ <br><br> (၂) ဇာတ်ကားမတောင်းခင် တင်ထားပြီးသားဇာတ်ကားဟုတ်မဟုတ် အရင်ရှာပါ။
          မရှိမှတောင်းပါ။ <br><br> (၃) တောင်းမယ့်ဇာတ်ကားက ရုပ်သံကြည်လင်တဲ့ HD Copy ရှိမရှိ သိအောင်လုပ်ပါ။ ( Blu-Ray site or Amazon Prime Video)
          <br><br>(၄) HD Copy ကောင်းကောင်းမရှိတဲ့ ဇာတ်လမ်းနှင့် ဇာတ်လမ်းတွဲများ မတောင်းပါနဲ့။ <br><br>(၅) Facebook Chat Box နဲ့ Page Comment တွေမှာ တောင်းတာတွေကို တင်ပေးမည်မဟုတ်ပါ။ <br><br> (၆) ကိုယ်တောင်းတဲ့ဇာတ်ကားကို
          ဘာအတွက်ကြောင့်တင်ပေးသင့်သလဲဆိုတာလေးပါ ထည့်ရေးပေးပါ။ <br><br> (၇) နာမည်ကြီး လူကြိုက်များပြီး မထွက်သေးတဲ့ဇာတ်ကားများကို မတောင်းပါနဲ့။ အဲ့ဒီလိုဇာတ်ကားမျိုးတွေကို မတောင်းလဲ တင်ပေးမှာဖြစ်ပါတယ်။ (ဇာတ်ကားအသစ်တွေ မတင်ဖြစ်သေးဘူးဆိုရင်
          အကြောင်းရင်းရှိပါတယ်
          ဥပမာ – Bluray Copy မထွက်သေးတာ၊ ရုပ်မကြည်သေးတာ၊ အသံမမှန်သေးတာ၊စာဖိုင်မထွက်သေးတာတို့ကြောင့်ဖြစ်ပါတယ်) <br><br> (၈) စိတ်ရှည်ရှည်ထားပေးပါ။ အချို့တောင်းဆိုထားတဲ့ဇာတ်ကားတွေက (၁)ပါတ် ကနေ (၁)လအထိကြာနိုင်ပါတယ်။အဲ့ဒီထက်လဲ မြန်ချင်မြန်နိုင်ပါတယ်။
          ဇာတ်ကားအနေအထား၊ စာဖိုင်အနေအထားပေါ်မူတည်ပါတယ်။ <br><br> (၉) တတ်နိုင်သမျှအကောင်းဆုံးဖြစ်အောင် တင်ပေးသွားပါမယ်။ ဒါပေမယ့် အကြောင်းအမျိုးမျိုးရှိလာနိုင်တာကြောင့်တောင်းဆိုသမျှဇာတ်ကားအားလုံး တင်ပေးမယ်လို့တော့ (၁၀၀)ရာခိုင်နှုန်း အာမ မခံနိုင်ပါဘူး
          ခင်ဗျာ။
        </p>

      </div>

      <div class="container mt-4">
        <div class="row gallery-items container" style="background-color: #F1EDF3;border-radius:20px;padding:25px 10px 0px 10px;margin: 0px">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="etGLuoxY"></script>
          <div class="fb-comments" data-href="http://localhost:3000/request" data-numposts="5" data-width="100%"></div>
        </div>
      </div>





      <%- include('partials/homeFooter'); %>
